<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Only Clouds</title>
</head>
<body>
    <h1>Get your own random clouds for your project with the following API:</h1>
    <p>http://onlyclouds.herokuapp.com/api/clouds</p>
</body>
</html>